# Ignore all node modules
node_modules

# Ignore the .idea directory
.idea

# Ignore custom script used for ci
scripts

# Ignore build
build

# Ignore eslint configuration
.eslintrc.js

src/**/*.spec.tsx